#title {
    color: rgb(71, 13, 2);
    font-size: 150px;
    text-align: center;
    font-family: cursive;
    
}
.paragraph {
    text-align: center;
    font-size:30px;
    font-family: monospace
    
    
}
.subtitle {
    text-align: center;
    display: block;
    margin: auto;
    font-family: fantasy;
    font-size: 50px;
    
}
